/*=== Header area start ===*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

body {	
    font-family: 'Calibri';
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
    margin: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Calibri';
    src: url('fonts/Calibri.ttf');
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}